---
import "../styles/global.css";
import Nav from "../components/Nav.tsx";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} · Catálogo 3D</title>
  </head>
  <body>
    <Nav client:load />
    <main class="container">
      <slot />
    </main>
  </body>
</html>
