---
import BaseLayout from "../layouts/BaseLayout.astro";
import LoginForm from "../components/auth/LoginForm.tsx";
---

<BaseLayout title="Iniciar sesión">
  <h1>Iniciar sesión</h1>
  <LoginForm client:load />
</BaseLayout>
